@model Alpha.Models.ViewModels.OrderedItemView

@{
    ViewBag.Title = "AddItemStep1aSize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quelle taille voulez vous pour votre @Model.ItemName ?</h2>

@using (Html.BeginForm("AddItemStep1aSize", "Order", FormMethod.Post, new { @class = "center-block", role = "form" }))
{
<table>
    <tr>
        @foreach (var item in Model.ListOfSizesView)
        {
        <td>
            <button type="submit" name="Button" value="@item.Id" class="btn btn-primary btn-lg">@item.MealSize.ToString()</button>
            <p>@item.Price.ToString()€</p>
        </td>
        }
    </tr>
</table>
}