@model Alpha.Models.ViewModels.OrderedItemView

@{
    ViewBag.Title = "AddItemStep3Sauce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quelle sauce voulez vous pour votre @Model.ItemName ?</h2>

@using (Html.BeginForm("AddItemStep3Sauce", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <table>
        <tr>
            @foreach (var item in Model.ListofSauceView)
            {
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@Url.Action("RenderItemPhoto", "Menu", new { ItemId = item.ItemId })" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">@item.Name.ToString()</h2>
                        <p class="card-text"></p>
                        <button type="submit" name="Button" value="@item.ItemId" class="btn btn-primary btn-lg">Choisir</button>
                    </div>
                </div>
            </td>
            }
        </tr>
    </table>
}

