@model Alpha.Models.ViewModels.PickASlotTimeView

@{
    ViewBag.Title = "PickASlotTimeStep0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Commençons par choir quand voulez-vous manger</h2>

@using (Html.BeginForm("PickASlotTime", "Order", FormMethod.Post, new { @class = "center-block", role = "form" }))
{
    <table>
        <tr>
            @if (Model.ListOfPossibleTimes != null && Model.ListOfPossibleTimes.Count != 0)
            {
                foreach (var item in @Model.ListOfPossibleTimes)
                {
                    <td>
                        <button type="submit" name="Button" value="@item.Id" class="btn btn-primary btn-lg">@item.TimeFromText() <br /> @item.TimeToText()</button>
                    </td>
                }
            }
            else
            {
                <h4>Désolé, il n'y plus de disponnibilité dans ce restaurant pour aujourd'hui...</h4>                    
            }
        </tr>
    </table>
}


